.frame-child {
  	width: 31px;
  	position: relative;
  	height: 29px;
}
.tunetrendy {
  	width: 334px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 55px;
  	flex-shrink: 0;
}
.group-parent {
  	width: 212px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
  	cursor: pointer;
  	font-family: 'Julius Sans One';
}
.msica {
  	width: 95px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.inicio {
  	width: 74px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.eventos {
  	width: 101px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.videos {
  	width: 107px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.msica-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.frame-container {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 3px 0px;
}
.frame-wrapper {
  	width: 513px;
  	position: relative;
  	height: 55px;
  	font-size: 28px;
}
.login {
  	position: relative;
  	font-weight: 600;
}
.login-wrapper {
  	border-radius: 100px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.sing-up-wrapper {
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.frame-group {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	font-size: 24px;
}
.frame-parent {
  	align-self: stretch;
  	background-color: #fff;
  	height: 119px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	box-sizing: border-box;
  	gap: 208px;
  	text-align: left;
  	font-size: 32px;
  	color: #000;
}
.musica-trendy {
  	flex: 1;
  	position: relative;
}
.musica-trendy-wrapper {
  	width: 223px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.mayo-16-del {
  	width: 211px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.mayo-16-del-2025-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 0px;
  	text-align: left;
}
.frame-parent1 {
  	align-self: stretch;
  	background-color: #1880ff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 6px;
  	gap: 0px;
}
.frame-item {
  	width: 172px;
  	height: 171px;
  	object-fit: cover;
}
.blank-line {
  	margin: 0;
  	font-family: Inter;
}
.luther {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.05em;
  	display: inline-block;
  	height: 29px;
  	flex-shrink: 0;
}
.frame-parent4 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 27px;
}
.kendrick-lamar {
  	margin: 0;
}
.kendrick-lamar-container {
  	position: relative;
  	font-size: 16px;
}
.frame-parent3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.frame-wrapper1 {
  	width: 185px;
  	height: 287px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.frame-inner {
  	width: 194px;
  	height: 194px;
  	object-fit: cover;
}
.frame-parent6 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.alex-warren {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
}
.frame-parent5 {
  	width: 202px;
  	height: 67px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.frame-wrapper2 {
  	width: 209.3px;
  	height: 288px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-icon {
  	align-self: stretch;
  	max-width: 100%;
  	overflow: hidden;
  	height: 184px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.frame-parent8 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 27px;
}
.frame-parent7 {
  	align-self: stretch;
  	height: 88px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper4 {
  	align-self: stretch;
  	height: 285px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper3 {
  	width: 204px;
  	height: 295px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.frame-parent10 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
}
.frame-parent9 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper5 {
  	width: 195px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-child2 {
  	width: 194px;
  	max-height: 100%;
  	object-fit: cover;
}
.frame-parent12 {
  	width: 206px;
  	height: 242px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 14px;
}
.frame-parent11 {
  	align-self: stretch;
  	height: 48px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper6 {
  	width: 210px;
  	height: 281px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-parent2 {
  	align-self: stretch;
  	background-color: #101119;
  	height: 333px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 19px;
  	text-align: center;
  	font-size: 20px;
}
.frame-div {
  	width: 1110px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper9 {
  	width: 210px;
  	height: 295px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper12 {
  	width: 195px;
  	height: 295px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-parent13 {
  	width: 1110px;
  	background-color: #101119;
  	height: 333px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 16px;
  	text-align: center;
  	font-size: 20px;
}
.image-11-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.image-11-wrapper {
  	width: 1044px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
}
.frame-child8 {
  	position: absolute;
  	top: 16px;
  	left: 26px;
  	width: 320px;
  	height: 299.4px;
  	z-index: 0;
}
.siguenos-en {
  	width: 190px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.vector-icon {
  	width: 26px;
  	position: relative;
  	height: 26px;
}
.vector-icon1 {
  	width: 25px;
  	position: relative;
  	height: 26px;
}
.vector-icon2 {
  	width: 26px;
  	position: relative;
  	height: 21px;
}
.vector-parent {
  	height: 54px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 15px 0px 13px;
  	box-sizing: border-box;
  	gap: 21px;
}
.siguenos-en-parent {
  	width: 100%;
  	position: absolute;
  	top: 16px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	z-index: 1;
}
.diariamente {
  	width: 168px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.recibe-las-noticias {
  	flex: 1;
  	position: relative;
  	font-size: 24px;
  	font-weight: 100;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	height: 40px;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.diariamente-parent {
  	width: 100%;
  	position: absolute;
  	top: 95.75px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
  	z-index: 2;
}
.trminos-de-uso {
  	font-weight: 600;
}
.al-proporcionar-su-informacin-wrapper {
  	width: 100%;
  	position: absolute;
  	top: 255.25px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	z-index: 3;
  	font-size: 14px;
}
.escribe-tu-correo {
  	position: relative;
}
.escribe-tu-correo-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
}
.vector-icon3 {
  	width: 15.9px;
  	position: relative;
  	height: 24.6px;
}
.vector-wrapper {
  	width: 91px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 10px 10px 66px;
  	box-sizing: border-box;
}
.frame-child9 {
  	width: 280px;
  	position: relative;
  	height: 0.6px;
  	object-fit: contain;
}
.frame-parent25 {
  	position: absolute;
  	top: 175.5px;
  	left: 494px;
  	background-color: #2b2e3c;
  	width: 302px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 0px 0px 9px;
  	box-sizing: border-box;
  	gap: 0px 100px;
  	z-index: 4;
  	text-align: left;
  	font-size: 13px;
}
.frame-parent24 {
  	align-self: stretch;
  	background-color: #101119;
  	height: 341px;
  	display: flex;
  	flex-direction: column;
  	padding: 16px 10px 10px 26px;
  	box-sizing: border-box;
  	position: relative;
  	gap: 10px;
}
.derechos-reservados-tunetren-wrapper {
  	align-self: stretch;
  	background-color: #fff;
  	height: 72px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.homepagemusica-inner {
  	align-self: stretch;
  	height: 70px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 10px 10px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 20px;
  	color: #000;
}
.homepagemusica {
  	width: 100%;
  	position: relative;
  	background-color: #f5f5f5;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 41px;
  	text-align: justify;
  	font-size: 38px;
  	color: #fff;
  	font-family: 'Alumni Sans SC';
}

@media (max-width: 1440px) {
   .frame-parent25 {
      gap: 0px 50px;
   }
}