*{margin: 0;
padding: 0%;}

.cabecera { font-family: 'BebasNeue';
    padding-top: 8px;
    min-height: 1px;
    background-color: rgb(255, 101, 101);

}


.logo{ color: aliceblue;
    font-size: 2em;
    width: 40px;
    display: block;
    margin: auto;
}

.items{
    width: 50%;
    text-align: center;
    color: black;
    background-color: rgb(189, 0, 0);
    padding: 8px 0px;

}

.menu{

}

.bar{
    width: 100%;
    height: 1px;

}
.container{
    width: 100%;
    flex-flow: row wrap;
    display: flex;
}

.container a:first-child{
    display: none;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('/fonts/BebasNeue-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@media screen and (min-width: 600px){
    .items{
        width: 25%;
    }
    .logo{
        font-size: 3em;
    }

}

@media screen and (min-width: 970px){
    .items{
        width: 20%;
    }
    .logo{
        font-size: 3em;
    }
    .container a:first-child{
        display: block;
        border-top-left: 16px;
        border-bottom-left: 16px;
    }

    .container {
        margin: auto;
        width: 80%;
        position: relative;
        top: 15px;
    }

}