*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
h1{
    font-family: "Roboto", sans-serif;
    text-align: center;

}
.margin{
    margin-bottom: 32px;
}

.tablas{ background-color: rgb(69, 143, 221);
    min-height: 30%;
    padding : 16px, 0px ;
    margin-bottom: 32px;
    
}

.tablas table{
    margin: 0 auto;
}

div.tablas table{background-color: rgb(206, 201, 223);
}

.pie{
    background-color: rgb(255, 98, 130);
}