.frame-child {
  	width: 31px;
  	position: relative;
  	height: 29px;
}
.tunetrendy {
  	width: 334px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 55px;
  	flex-shrink: 0;
}
.group-parent {
  	width: 212px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
  	font-family: 'Julius Sans One';
}
.msica {
  	width: 95px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.noticias {
  	width: 74px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.eventos {
  	width: 101px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.videos {
  	width: 107px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.msica-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.frame-wrapper {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 3px 0px;
}
.headerprincipal-inner {
  	width: 513px;
  	position: relative;
  	height: 55px;
  	font-size: 28px;
}
.login {
  	position: relative;
  	font-weight: 600;
}
.login-wrapper {
  	border-radius: 100px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.sing-up-wrapper {
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.frame-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	font-size: 24px;
}
.headerprincipal {
  	align-self: stretch;
  	background-color: #fff;
  	height: 119px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	box-sizing: border-box;
  	gap: 208px;
  	text-align: left;
  	font-size: 32px;
}
.emblema-2025-share-1-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	height: 374.1px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.tecate-emblema-2025 {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.el-festival-est {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 95px;
  	flex-shrink: 0;
}
.tecate-emblema-2025-cartel-f-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 15px;
}
.emblema-2025-share-1-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
}
.hace-1-min {
  	position: relative;
  	font-weight: 300;
}
.hace-1-min-wrapper {
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.frame-container {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	text-align: left;
  	font-size: 24px;
}
.frame-group {
  	width: 665px;
  	background-color: #fff;
  	height: 609px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.image-2-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.caifanes-dar-un {
  	margin: 0;
}
.caifanes-dar-un-container {
  	flex: 1;
  	position: relative;
  	font-weight: 100;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.caifanes-dar-un-concierto-gra-wrapper {
  	align-self: stretch;
  	height: 98px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 5px 14px 8px;
  	box-sizing: border-box;
}
.tunetrendy-container {
  	width: 85px;
  	border-radius: 100px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 10px;
  	box-sizing: border-box;
}
.hace-3-min {
  	flex: 1;
  	position: relative;
  	font-weight: 300;
}
.hace-3-min-wrapper {
  	width: 89px;
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
  	box-sizing: border-box;
}
.frame-parent1 {
  	width: 263px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	font-size: 16px;
}
.frame-div {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 1px;
}
.image-2-parent {
  	width: 360px;
  	background-color: #fff;
  	height: 609px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 7px;
  	cursor: pointer;
  	text-align: left;
  	font-size: 24px;
}
.secprincipal {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 85px;
  	font-size: 38px;
}
.ms-pedidas {
  	flex: 1;
  	position: relative;
}
.ms-pedidas-wrapper {
  	width: 171px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.mayo-16-del {
  	width: 211px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.mayo-16-del-2025-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 0px;
  	text-align: left;
}
.frame-parent2 {
  	align-self: stretch;
  	background-color: #1880ff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 6px;
  	gap: 0px;
}
.frame-item {
  	width: 172px;
  	height: 171px;
  	object-fit: cover;
}
.blank-line {
  	margin: 0;
  	font-family: Inter;
}
.luther {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.05em;
  	display: inline-block;
  	height: 29px;
  	flex-shrink: 0;
}
.frame-parent5 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 27px;
}
.kendrick-lamar-container {
  	position: relative;
  	font-size: 16px;
}
.frame-parent4 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.frame-wrapper1 {
  	width: 185px;
  	height: 287px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.frame-inner {
  	width: 194px;
  	height: 194px;
  	object-fit: cover;
}
.frame-parent7 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.alex-warren {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
}
.frame-parent6 {
  	width: 202px;
  	height: 67px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.frame-wrapper2 {
  	width: 209.3px;
  	height: 288px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-icon {
  	align-self: stretch;
  	max-width: 100%;
  	overflow: hidden;
  	height: 184px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.frame-parent9 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 27px;
}
.frame-parent8 {
  	align-self: stretch;
  	height: 88px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper4 {
  	align-self: stretch;
  	height: 285px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper3 {
  	width: 204px;
  	height: 295px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.frame-parent11 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
}
.frame-parent10 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper5 {
  	width: 195px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-child2 {
  	width: 194px;
  	max-height: 100%;
  	object-fit: cover;
}
.frame-parent13 {
  	width: 206px;
  	height: 242px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 14px;
}
.frame-parent12 {
  	align-self: stretch;
  	height: 48px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-wrapper6 {
  	width: 210px;
  	height: 281px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.frame-parent3 {
  	align-self: stretch;
  	background-color: #101119;
  	height: 333px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 19px;
  	text-align: center;
  	font-size: 20px;
}
.secmusica {
  	width: 1110px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 38px;
  	color: #fff;
}
.ms-de-tunetrendy {
  	position: relative;
}
.ms-de-tunetrendy-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
}
.ca7riel-paco-container {
  	align-self: stretch;
  	position: relative;
  	font-weight: 100;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.ca7riel-paco-amoroso-visitan-wrapper {
  	align-self: stretch;
  	height: 82px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 15px;
  	box-sizing: border-box;
}
.tunetrendy-frame {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 100px;
  	width: 85px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 10px;
  	box-sizing: border-box;
  	z-index: 0;
}
.hace-1-min-container {
  	position: absolute;
  	top: 0px;
  	left: 137px;
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	width: 89px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
  	box-sizing: border-box;
  	z-index: 1;
}
.frame-parent15 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 20px;
  	font-size: 16px;
}
.image-6-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 254px;
  	height: 440px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.frame-parent16 {
  	align-self: stretch;
  	height: 40px;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 20px;
  	font-size: 16px;
}
.image-7-parent {
  	position: absolute;
  	top: 0px;
  	left: 285px;
  	background-color: #fff;
  	width: 254px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.frame-parent17 {
  	align-self: stretch;
  	height: 41px;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 20px;
  	font-size: 16px;
}
.image-parent {
  	position: absolute;
  	top: 0px;
  	left: 570px;
  	background-color: #fff;
  	width: 254px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
  	font-size: 20px;
}
.hace-12-min-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 137px;
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	width: 89px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px 4px 14px;
  	box-sizing: border-box;
  	z-index: 1;
}
.image-9-parent {
  	position: absolute;
  	top: 0px;
  	left: 855px;
  	background-color: #fff;
  	width: 254px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.frame-parent14 {
  	align-self: stretch;
  	position: relative;
  	height: 440px;
  	text-align: left;
  	font-size: 24px;
}
.secnoticiasr {
  	width: 1109px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 14px;
}
.image-10-parent {
  	align-self: stretch;
  	height: 583px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
}
.frame-parent20 {
  	width: 759px;
  	background-color: #fff;
  	height: 646px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
  	text-align: justify;
  	font-size: 38px;
}
.hace-1-hora-wrapper {
  	width: 95px;
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
  	box-sizing: border-box;
}
.frame-parent22 {
  	align-self: stretch;
  	height: 153px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 1px;
}
.image-6-group {
  	width: 285px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 7px;
  	cursor: pointer;
}
.frame-wrapper8 {
  	align-self: stretch;
  	height: 85px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.hace-2-horas-wrapper {
  	width: 101px;
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
  	box-sizing: border-box;
}
.frame-parent24 {
  	width: 263px;
  	height: 26px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	font-size: 16px;
}
.image-3-parent {
  	width: 349px;
  	background-color: #fff;
  	height: 434px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 9px;
  	cursor: pointer;
}
.judas-de-lady {
  	flex: 1;
  	position: relative;
  	font-weight: 100;
  	display: inline-block;
  	height: 85px;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.frame-wrapper9 {
  	align-self: stretch;
  	height: 103px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.image-12-parent {
  	width: 380px;
  	background-color: #fff;
  	height: 430px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.frame-parent19 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 0px 39px;
  	text-align: left;
  	font-size: 24px;
}
.secartnoticias {
  	width: 1109px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.image-11-wrapper {
  	width: 1044px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
}
.video {
  	align-self: stretch;
  	position: relative;
}
.video-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
}
.lo-han-vuelto {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 139px;
  	flex-shrink: 0;
}
.put-you-own-image {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 510px;
  	height: 360px;
  	object-fit: cover;
}
.key-component {
  	position: relative;
  	width: 160px;
  	height: 160px;
}
.youtube-widget-by-featpaper {
  	align-self: stretch;
  	position: relative;
  	height: 360px;
}
.ca7riel-y-paco {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 128px;
  	flex-shrink: 0;
}
.lo-han-vuelto-a-hacer-ca7riel-parent {
  	align-self: stretch;
  	height: 592px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 15px;
  	box-sizing: border-box;
  	gap: 21px;
}
.frame-wrapper10 {
  	align-self: stretch;
  	height: 689px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.frame-parent30 {
  	height: 69px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	text-align: left;
  	font-size: 24px;
}
.frame-parent29 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 540px;
  	height: 764px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 0;
}
.put-you-own-image1 {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	width: 248.9px;
  	height: 140px;
  	object-fit: cover;
}
.youtube-widget-by-featpaper1 {
  	width: 248.9px;
  	position: relative;
  	height: 160px;
}
.conoce-la-escena {
  	width: 277px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.youtube-widget-by-featpaper-parent {
  	align-self: stretch;
  	height: 153px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.vector-icon {
  	width: 540px;
  	position: relative;
  	max-height: 100%;
}
.frame-parent32 {
  	align-self: stretch;
  	background-color: #fff;
  	height: 141px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 6px;
}
.put-you-own-image2 {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	height: 150px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.key-component2 {
  	position: relative;
  	width: 160px;
  	height: 160px;
  	margin-top: -150px;
}
.youtube-widget-by-featpaper2 {
  	width: 249px;
  	height: 150px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.los-blenders-siguen {
  	width: 277px;
  	position: relative;
  	display: flex;
  	white-space: pre-wrap;
  	align-items: center;
  	flex-shrink: 0;
}
.youtube-widget-by-featpaper-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.frame-parent33 {
  	align-self: stretch;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 10px;
}
.put-you-own-image3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 251px;
  	height: 165.2px;
  	object-fit: cover;
}
.youtube-widget-by-featpaper3 {
  	width: 251px;
  	position: relative;
  	height: 165.2px;
}
.put-you-own-image4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 251px;
  	height: 162px;
  	object-fit: cover;
}
.youtube-widget-by-featpaper4 {
  	width: 251px;
  	position: relative;
  	height: 162px;
}
.frame-parent31 {
  	position: absolute;
  	top: 0px;
  	left: 570px;
  	width: 540px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 32px;
  	z-index: 1;
  	font-size: 24px;
}
.frame-parent28 {
  	align-self: stretch;
  	height: 764px;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 10px;
  	font-size: 38px;
}
.secvideo {
  	width: 1110px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 28px;
}
.no-te-pierdas {
  	align-self: stretch;
  	position: relative;
  	display: inline-block;
  	height: 149px;
  	flex-shrink: 0;
}
.aqu-en-tunetrendy {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 69px;
  	flex-shrink: 0;
}
.no-te-pierdas-de-los-prximos-parent {
  	align-self: stretch;
  	height: 233px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.fito-pez-dar {
  	flex: 1;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 65px;
}
.fito-pez-dar-conciertos-en-m-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 15px;
}
.fito-pez-dar-cuatro {
  	flex: 1;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 119px;
}
.fito-pez-dar-cuatro-conciert-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 15px;
  	font-size: 20px;
}
.frame-parent36 {
  	width: 920px;
  	background-color: #fff;
  	height: 768px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	font-size: 38px;
}
.shakira-en-mxico {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 113px;
  	flex-shrink: 0;
}
.shakira-se-presentar {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 186px;
  	flex-shrink: 0;
  	margin-top: -44px;
}
.shakira-en-mxico-2025-parent {
  	align-self: stretch;
  	background-color: #fff;
  	height: 255px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.image-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.image-icon2 {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	height: 459px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.justin-timberlake-regresa {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 145px;
  	flex-shrink: 0;
}
.justin-timberlake-ha {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 231px;
  	flex-shrink: 0;
  	margin-top: -96px;
}
.justin-timberlake-regresa-a-m-parent {
  	align-self: stretch;
  	background-color: #fff;
  	height: 248px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.image-container {
  	align-self: stretch;
  	height: 710px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.image-icon3 {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	height: 456px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.miguel-bos-anuncia {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 230px;
  	flex-shrink: 0;
}
.miguel-bos-regresa {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 231px;
  	flex-shrink: 0;
  	margin-top: -117px;
}
.miguel-bos-anuncia-conciertos-parent {
  	align-self: stretch;
  	background-color: #fff;
  	height: 282px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.image-parent1 {
  	align-self: stretch;
  	height: 739px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.katy-perry-realizar-concierto {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 134px;
  	flex-shrink: 0;
}
.katy-perry-visitar {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 178px;
  	flex-shrink: 0;
  	margin-top: -91px;
}
.katy-perry-realizar-concierto-parent {
  	align-self: stretch;
  	background-color: #fff;
  	height: 199px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.secev {
  	width: 1110px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 42px;
}
.seccontacto-child {
  	position: absolute;
  	top: 16px;
  	left: 26px;
  	width: 320px;
  	height: 299.4px;
  	z-index: 0;
}
.siguenos-en {
  	width: 190px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.vector-icon1 {
  	width: 26px;
  	position: relative;
  	height: 26px;
}
.vector-icon2 {
  	width: 25px;
  	position: relative;
  	height: 26px;
}
.vector-icon3 {
  	width: 26px;
  	position: relative;
  	height: 21px;
}
.vector-parent {
  	height: 54px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 15px 0px 13px;
  	box-sizing: border-box;
  	gap: 21px;
}
.siguenos-en-parent {
  	width: 100%;
  	position: absolute;
  	top: 16px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	z-index: 1;
}
.diariamente {
  	width: 168px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.recibe-las-noticias {
  	flex: 1;
  	position: relative;
  	font-size: 24px;
  	font-weight: 100;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	height: 40px;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.diariamente-parent {
  	width: 100%;
  	position: absolute;
  	top: 95.75px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
  	z-index: 2;
}
.trminos-de-uso {
  	font-weight: 600;
}
.al-proporcionar-su-informacin-wrapper {
  	width: 100%;
  	position: absolute;
  	top: 255.25px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	z-index: 3;
  	font-size: 14px;
}
.vector-icon4 {
  	width: 15.9px;
  	position: relative;
  	height: 24.6px;
}
.vector-wrapper {
  	width: 91px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 10px 10px 66px;
  	box-sizing: border-box;
}
.frame-child6 {
  	width: 280px;
  	position: relative;
  	height: 0.6px;
  	object-fit: contain;
}
.frame-parent37 {
  	position: absolute;
  	top: 175.5px;
  	left: 494px;
  	background-color: #2b2e3c;
  	width: 302px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 0px 0px 9px;
  	box-sizing: border-box;
  	gap: 0px 100px;
  	z-index: 4;
  	text-align: left;
  	font-size: 13px;
}
.seccontacto {
  	align-self: stretch;
  	background-color: #101119;
  	height: 341px;
  	display: flex;
  	flex-direction: column;
  	padding: 16px 10px 10px 26px;
  	box-sizing: border-box;
  	position: relative;
  	gap: 10px;
  	font-size: 38px;
  	color: #fff;
}
.derechos-reservados-tunetren-wrapper {
  	align-self: stretch;
  	background-color: #fff;
  	height: 72px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.footer {
  	align-self: stretch;
  	height: 70px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 10px 10px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 20px;
}
.homepageprincipal {
  	width: 100%;
  	position: relative;
  	background-color: #f5f5f5;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 58px;
  	text-align: justify;
  	font-size: 64px;
  	color: #000;
  	font-family: 'Alumni Sans SC';
}

@media (max-width: 1440px) {
   .homepageprincipal {
      width: 100%;
      font-size: 38px;
   }
}