.frame-child {
  	width: 31px;
  	position: relative;
  	height: 29px;
}
.tunetrendy {
  	width: 334px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 55px;
  	flex-shrink: 0;
}
.group-parent {
  	width: 212px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
  	cursor: pointer;
  	font-family: 'Julius Sans One';
}
.msica {
  	width: 95px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.inicio {
  	width: 74px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.eventos {
  	width: 101px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.videos {
  	width: 107px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.msica-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.frame-wrapper {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 3px 0px;
}
.header-inner {
  	width: 513px;
  	position: relative;
  	height: 55px;
  	font-size: 28px;
}
.login {
  	position: relative;
  	font-weight: 600;
}
.login-wrapper {
  	border-radius: 100px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.sing-up-wrapper {
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.frame-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	font-size: 24px;
}
.header {
  	align-self: stretch;
  	background-color: #fff;
  	height: 119px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	box-sizing: border-box;
  	gap: 208px;
  	text-align: left;
  	font-size: 32px;
}
.cmo-fue-la {
  	align-self: stretch;
  	position: relative;
  	display: inline-block;
  	height: 149px;
  	flex-shrink: 0;
}
.el-do-argentino {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 69px;
  	flex-shrink: 0;
}
.cmo-fue-la-presentacin-de-ca-parent {
  	align-self: stretch;
  	height: 233px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.image-17-icon {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.haciendo-su-debut {
  	font-weight: 600;
}
.haciendo-su-debut-container {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	display: flex;
  	align-items: center;
}
.haciendo-su-debut-en-la-televi-wrapper {
  	align-self: stretch;
  	height: 100px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.image-17-parent {
  	align-self: stretch;
  	height: 722px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 20px;
}
.frame-group {
  	width: 1109px;
  	background-color: #fff;
  	height: 1003px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.ms-de-tunetrendy {
  	position: relative;
}
.ms-de-tunetrendy-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
}
.ca7riel-paco {
  	margin: 0;
}
.ca7riel-paco-container {
  	align-self: stretch;
  	position: relative;
  	font-weight: 100;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.ca7riel-paco-amoroso-visitan-wrapper {
  	align-self: stretch;
  	height: 82px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 15px;
  	box-sizing: border-box;
}
.tunetrendy-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 100px;
  	width: 85px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 10px;
  	box-sizing: border-box;
  	z-index: 0;
}
.hace-1-min {
  	flex: 1;
  	position: relative;
  	font-weight: 300;
}
.hace-1-min-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 137px;
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	width: 89px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
  	box-sizing: border-box;
  	z-index: 1;
}
.frame-parent1 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 20px;
  	font-size: 16px;
}
.image-6-parent {
  	width: 254px;
  	background-color: #fff;
  	height: 440px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.frame-parent2 {
  	align-self: stretch;
  	height: 40px;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 20px;
  	font-size: 16px;
}
.image-7-parent {
  	width: 254px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.frame-parent3 {
  	align-self: stretch;
  	height: 41px;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 20px;
  	font-size: 16px;
}
.image-parent {
  	width: 254px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
  	font-size: 20px;
}
.hace-12-min-wrapper {
  	position: absolute;
  	top: 0px;
  	left: 137px;
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	width: 89px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px 4px 14px;
  	box-sizing: border-box;
  	z-index: 1;
}
.frame-div {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 31px;
  	text-align: left;
  	font-size: 24px;
}
.frame-container {
  	width: 1109px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 14px;
}
.la-presentacin-de {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 240px;
  	flex-shrink: 0;
}
.esta-aparicin-los {
  	font-family: 'Alumni Sans SC';
}
.nicki-nicole-bizarrap-y-nathy {
  	font-weight: 600;
  	font-family: 'Alumni Sans SC';
}
.esta-aparicin-los-container {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 549px;
  	flex-shrink: 0;
  	margin-top: -21px;
}
.la-presentacin-de-ca7riel-y-p-parent {
  	width: 1109px;
  	background-color: #fff;
  	height: 768px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 14px;
  	box-sizing: border-box;
}
.image-11-wrapper {
  	width: 1044px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
  	box-sizing: border-box;
}
.frame-item {
  	position: absolute;
  	top: 16px;
  	left: 26px;
  	width: 320px;
  	height: 299.4px;
  	z-index: 0;
}
.siguenos-en {
  	width: 190px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.vector-icon {
  	width: 26px;
  	position: relative;
  	height: 26px;
}
.vector-icon1 {
  	width: 25px;
  	position: relative;
  	height: 26px;
}
.vector-icon2 {
  	width: 26px;
  	position: relative;
  	height: 21px;
}
.vector-parent {
  	height: 54px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 15px 0px 13px;
  	box-sizing: border-box;
  	gap: 21px;
}
.siguenos-en-parent {
  	width: 100%;
  	position: absolute;
  	top: 16px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	z-index: 1;
}
.diariamente {
  	width: 168px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.recibe-las-noticias {
  	flex: 1;
  	position: relative;
  	font-size: 24px;
  	font-weight: 100;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	height: 40px;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.diariamente-parent {
  	width: 100%;
  	position: absolute;
  	top: 95.75px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
  	z-index: 2;
}
.al-proporcionar-su-container {
  	flex: 1;
  	position: relative;
}
.al-proporcionar-su-informacin-wrapper {
  	width: 100%;
  	position: absolute;
  	top: 255.25px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	z-index: 3;
  	font-size: 14px;
}
.vector-icon3 {
  	width: 15.9px;
  	position: relative;
  	height: 24.6px;
}
.vector-wrapper {
  	width: 91px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 10px 10px 66px;
  	box-sizing: border-box;
}
.frame-inner {
  	width: 280px;
  	position: relative;
  	height: 0.6px;
  	object-fit: contain;
}
.frame-parent6 {
  	position: absolute;
  	top: 175.5px;
  	left: 494px;
  	background-color: #2b2e3c;
  	width: 302px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 0px 0px 9px;
  	box-sizing: border-box;
  	gap: 0px 100px;
  	z-index: 4;
  	text-align: left;
  	font-size: 13px;
}
.frame-parent5 {
  	align-self: stretch;
  	background-color: #101119;
  	height: 341px;
  	display: flex;
  	flex-direction: column;
  	padding: 16px 10px 10px 26px;
  	box-sizing: border-box;
  	position: relative;
  	gap: 10px;
  	font-size: 38px;
  	color: #fff;
}
.derechos-reservados-tunetren-wrapper {
  	align-self: stretch;
  	background-color: #fff;
  	height: 72px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.homepagejimmyfallon-inner {
  	align-self: stretch;
  	height: 70px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 10px 10px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 20px;
}
.homepagejimmyfallon {
  	width: 100%;
  	position: relative;
  	background-color: #f5f5f5;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 42px;
  	text-align: justify;
  	font-size: 64px;
  	color: #000;
  	font-family: 'Alumni Sans SC';
}

@media (max-width: 1440px) {
   .homepagejimmyfallon {
      font-size: 40px;
   }
}