.frame-child {
  	width: 31px;
  	position: relative;
  	height: 29px;
}
.tunetrendy {
  	width: 334px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 55px;
  	flex-shrink: 0;
}
.group-parent {
  	width: 212px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
  	cursor: pointer;
  	font-family: 'Julius Sans One';
}
.msica {
  	width: 95px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.inicio {
  	width: 74px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.eventos {
  	width: 101px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.videos {
  	width: 107px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 29px;
  	flex-shrink: 0;
  	cursor: pointer;
}
.msica-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.frame-container {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 3px 0px;
}
.frame-wrapper {
  	width: 513px;
  	position: relative;
  	height: 55px;
  	font-size: 28px;
}
.login {
  	position: relative;
  	font-weight: 600;
}
.login-wrapper {
  	border-radius: 100px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.sing-up-wrapper {
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.frame-group {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	font-size: 24px;
}
.frame-parent {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 720px);
  	background-color: #fff;
  	width: 1440px;
  	height: 119px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	box-sizing: border-box;
  	gap: 208px;
  	text-align: left;
}
.derechos-reservados {
  	position: relative;
}
.derechos-reservados-tunetren-wrapper {
  	align-self: stretch;
  	background-color: #fff;
  	height: 72px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.homepagevideos-inner {
  	position: absolute;
  	top: 1499px;
  	left: 15px;
  	width: 1440px;
  	height: 70px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 10px 10px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 20px;
}
.frame-item {
  	position: absolute;
  	top: 16px;
  	left: 26px;
  	width: 320px;
  	height: 299.4px;
  	z-index: 0;
}
.siguenos-en {
  	width: 190px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.vector-icon {
  	width: 26px;
  	position: relative;
  	height: 26px;
}
.vector-icon1 {
  	width: 25px;
  	position: relative;
  	height: 26px;
}
.vector-icon2 {
  	width: 26px;
  	position: relative;
  	height: 21px;
}
.vector-parent {
  	height: 54px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 15px 0px 13px;
  	box-sizing: border-box;
  	gap: 21px;
}
.siguenos-en-parent {
  	width: 100%;
  	position: absolute;
  	top: 16px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	z-index: 1;
}
.diariamente {
  	width: 168px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 78px;
  	flex-shrink: 0;
}
.recibe-las-noticias {
  	flex: 1;
  	position: relative;
  	font-size: 24px;
  	font-weight: 100;
  	text-align: left;
  	display: flex;
  	align-items: center;
  	height: 40px;
  	text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.diariamente-parent {
  	width: 100%;
  	position: absolute;
  	top: 95.75px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
  	z-index: 2;
}
.trminos-de-uso {
  	font-weight: 600;
}
.al-proporcionar-su-container {
  	flex: 1;
  	position: relative;
}
.al-proporcionar-su-informacin-wrapper {
  	width: 100%;
  	position: absolute;
  	top: 255.25px;
  	left: 494px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
  	z-index: 3;
  	font-size: 14px;
}
.escribe-tu-correo-wrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
}
.vector-icon3 {
  	width: 15.9px;
  	position: relative;
  	height: 24.6px;
}
.vector-wrapper {
  	width: 91px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 10px 10px 66px;
  	box-sizing: border-box;
}
.frame-inner {
  	width: 280px;
  	position: relative;
  	height: 0.6px;
  	object-fit: contain;
}
.frame-parent1 {
  	position: absolute;
  	top: 175.5px;
  	left: 494px;
  	background-color: #2b2e3c;
  	width: 302px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 0px 0px 9px;
  	box-sizing: border-box;
  	gap: 0px 100px;
  	z-index: 4;
  	text-align: left;
  	font-size: 13px;
}
.frame-div {
  	position: absolute;
  	top: 1158px;
  	left: 15px;
  	background-color: #101119;
  	width: 1440px;
  	height: 341px;
  	display: flex;
  	flex-direction: column;
  	padding: 16px 10px 10px 26px;
  	box-sizing: border-box;
  	gap: 10px;
  	font-size: 38px;
  	color: #fff;
}
.video {
  	align-self: stretch;
  	position: relative;
}
.video-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 10px;
}
.lo-han-vuelto {
  	align-self: stretch;
  	position: relative;
  	display: flex;
  	align-items: center;
  	height: 139px;
  	flex-shrink: 0;
}
.put-you-own-image {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 510px;
  	height: 360px;
  	object-fit: cover;
}
.key-component {
  	position: relative;
  	width: 160px;
  	height: 160px;
}
.youtube-widget-by-featpaper {
  	align-self: stretch;
  	position: relative;
  	height: 360px;
}
.ca7riel-y-paco {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	display: flex;
  	align-items: center;
  	height: 128px;
  	flex-shrink: 0;
}
.lo-han-vuelto-a-hacer-ca7riel-parent {
  	align-self: stretch;
  	height: 592px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 15px;
  	box-sizing: border-box;
  	gap: 21px;
}
.frame-wrapper1 {
  	align-self: stretch;
  	height: 689px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.hace-2-semanas {
  	position: relative;
  	font-weight: 300;
}
.hace-2-semanas-wrapper {
  	box-shadow: -8px 96px 27px rgba(0, 0, 0, 0), -5px 62px 25px rgba(0, 0, 0, 0.01), -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 15px 15px rgba(0, 0, 0, 0.09), 0px 4px 8px rgba(0, 0, 0, 0.1);
  	border-radius: 100px;
  	background-color: #319fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 16px;
}
.frame-parent5 {
  	height: 69px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
  	text-align: left;
  	font-size: 24px;
}
.frame-parent4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 540px;
  	height: 764px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 0;
}
.put-you-own-image1 {
  	position: absolute;
  	top: 13px;
  	left: 0px;
  	width: 248.9px;
  	height: 140px;
  	object-fit: cover;
}
.youtube-widget-by-featpaper1 {
  	width: 248.9px;
  	position: relative;
  	height: 160px;
}
.conoce-la-escena {
  	width: 277px;
  	position: relative;
  	display: flex;
  	align-items: center;
  	flex-shrink: 0;
}
.youtube-widget-by-featpaper-parent {
  	align-self: stretch;
  	height: 153px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.frame-child1 {
  	width: 540px;
  	position: relative;
  	max-height: 100%;
}
.frame-parent7 {
  	align-self: stretch;
  	background-color: #fff;
  	height: 141px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 6px;
}
.put-you-own-image2 {
  	align-self: stretch;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	height: 150px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.key-component2 {
  	position: relative;
  	width: 160px;
  	height: 160px;
  	margin-top: -150px;
}
.youtube-widget-by-featpaper2 {
  	width: 249px;
  	height: 150px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.los-blenders-siguen {
  	width: 277px;
  	position: relative;
  	display: flex;
  	white-space: pre-wrap;
  	align-items: center;
  	flex-shrink: 0;
}
.youtube-widget-by-featpaper-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.frame-parent8 {
  	align-self: stretch;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 10px;
}
.put-you-own-image3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 251px;
  	height: 165.2px;
  	object-fit: cover;
}
.youtube-widget-by-featpaper3 {
  	width: 251px;
  	position: relative;
  	height: 165.2px;
}
.put-you-own-image4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 251px;
  	height: 162px;
  	object-fit: cover;
}
.youtube-widget-by-featpaper4 {
  	width: 251px;
  	position: relative;
  	height: 162px;
}
.frame-parent6 {
  	position: absolute;
  	top: 0px;
  	left: 569.5px;
  	width: 540px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 32px;
  	z-index: 1;
  	font-size: 24px;
}
.frame-parent3 {
  	align-self: stretch;
  	height: 764px;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	gap: 10px;
  	font-size: 38px;
}
.frame-parent2 {
  	position: absolute;
  	top: 161px;
  	left: 166px;
  	width: 1109px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 28px;
  	font-size: 64px;
}
.homepagevideos {
  	width: 100%;
  	position: relative;
  	background-color: #f5f5f5;
  	height: 1569px;
  	overflow: hidden;
  	text-align: justify;
  	font-size: 32px;
  	color: #000;
  	font-family: 'Alumni Sans SC';
}

@media (max-width: 1440px) {
   .homepagevideos {
      height: 100%;
   }
}